{% extends "base.html.twig" %}


{% block title %}Index
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{# <style type="text/css">
		.important {
			color: #336699;
		}
	</style> #}
{% endblock %}
{% block body %}
	<center> <h2 class="alert alert-primary"> Product List</h2> </center>
	<a href="/product/create" class="btn btn-primary">Add Product</a> <br><br>
	<table class="table">
		<tr>
			<th class="thead-dark">Name</th>
			<th class="thead-dark">Description</th>
			<th class="thead-dark">Summary</th>
			<th class="thead-dark">Price</th>
			<th class="thead-dark">Amount</th>
			<th class="thead-dark" >Category</th>
			<th class="thead-dark">Status</th>
			<th class="thead-dark">Avatar</th>
			<th class="thead-dark">Option</th>
		</tr>
		{% for product in products %}
			<tr>
				<td>{{ product.getProductName() }}</td>
				<td>{{ product.getProductDescription() }}</td>
				<td>{{ product.getProductSummary() }}</td>
				<td>{{ product.getProductPrice() }}</td>
				<td>{{ product.getProductAmount() }}</td>
				<td>{{ product.getCategory.getCategoryName}} </td>
				<th>
					<img width="200px" src="{{ asset('images/products/' ~ product.getAvatar())}}">
				</th>
				<td>
					{% if product.getProductStatus() == 0 %}
						Disable
					{% else %}
						Active
					{% endif %}
				<td>
					<center>
						<a href="/product/update/{{product.getId()}}"> <i class="fa fa-pen"></i> </a>
						<a href="/product/detail/{{product.getId()}}"> <i class="fa fa-eye"></i> </a>
						<a href="/product/delete/{{product.getId()}}" onclick="Confirm('You sua')"> <i class="fa fa-trash" ></i> </a>
					</center>
				</td>
			</tr>
        	{% endfor %}
		</table>
{% endblock %}
