{% extends "base.html.twig" %}


{% block title %}Create
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.important {
			color: #336699;
		}
	</style>

{% endblock %}
{% block body %}
	<form method="POST" action="{{ path('product_updateOne', {'id': product.getId()} ) }}">
		<div class="mb-3">
			<label for="">Product Name</label>
			<input type="text" name="product_name" class="form-control" value="{{ product.getProductName() }}">
		</div>
		<div class="mb-3">
			<label for="">Product Description</label>
			<input type="text" name="product_description" class="form-control" value="{{ product.getProductDescription() }}" >
		</div>
		<div class="mb-3">
			<label for="">Product Summary</label>
			<textarea name="product_summary" class="form-control" id="" cols="30" rows="10">{{product.getProductSummary()}}
            </textarea>
		</div>
		<div class="mb-3">
			<label for="">Product Price</label>
			<input type="text" name="product_price" class="form-control" value="{{ product.getProductPrice() }}">
		</div>
		<div class="mb-3">
			<label for="">Product Amount</label>
			<input type="text" name="product_amount" class="form-control" value="{{ product.getProductAmount() }}">
		</div>
		<div class="mb-3">
			<label for="">Product Status</label>
			<select name="product_status" class="form-control" id="">
            {% if product.getProductStatus()  == 1 %}
                <option value="" checked>Active</option>
            {% else %}
                <option value="" checked>Disacble</option>
            {% endif %}
			</select>
		</div>
		<div class="mb-3">
			<input type="submit" value="Submit" class="btn btn-primary">
			<input type="reset" value="Clear" class="btn btn-danger">
            <a href="/product/index" class="btn btn-secondary">Back To Home</a>
		</div>
	</form>
{% endblock %}
